<template>
  <div class="goods-item">
    <div class="left">
      <img :src="item.image" alt="商品主图" />
    </div>
    <div class="middle">
      <p class="name">{{ item.name }}</p>
      <p></p>
      <p class="price">¥{{ item.price }}</p>
    </div>
    <slot v-bind="item"></slot>
  </div>
</template>

<script>
export default {
  props: ["item"],
};
</script>
<style lang="scss">
.goods-item {
  display: flex;
  border-radius: 20px;
  align-items: stretch;
  position: relative;
  margin-bottom: 12px;

  .left {
    padding: 7px 0;
    padding-right: 15px;
    img {
      width: 68px;
      height: 68px;
      border-radius: 20px;
    }
  }
  .middle {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    .name {
      font-size: 12px;
      font-weight: 700;
      color: rgba(26, 26, 26, 1);
      margin-top: 10px;
      width: 187px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .price {
      font-size: 16px;
      font-weight: 700;
      color: rgba(26, 26, 26, 1);
      margin-bottom: 15px;
    }
  }
}
</style>
