<template>
  <div class="home">
   <Sp :tt="tt"></Sp>
   <button @click="Gg">显示</button>
  </div>
</template>
<script>
import Sp from '../components/Sp.vue';
export default ({
components:{Sp},
  data() {
    return {
      tt:false
    };
  },
  methods:{
    handleinput(e){
    this.tast=e
    },
    Gg(){
      this.tt=true
    }
  }
  
});
</script>

