<template>
  <div id="nav">
    <router-link to="/">列表列</router-link>
    <router-link to="/about">购物车</router-link>

    <router-view></router-view>
  </div>
</template>
   <script>
// import axios from 'axios'
// export default {
//   name:"get",
//  created(){
//   axios({
//   method:"get",
//   url:"https://dahua0822-api.herokuapp.com/goods",
//   params:{
//    id:1
//   }
//  }).then((res)=>{
//   console.log("数据",res)
//  })
 
//  }
  
// }

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#app{
  background: #fff;
}

#nav {
  /* padding: 30px; */
  margin: 0 auto;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #4442b9;
}
*{
  margin: 0;
  padding: 0;
}
#nav{
    font-size: 16px;
  background: #ebeeec;
  
}
/* *,
html,
body,
div,
img,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
p{
    margin: 0;
  padding: 0;
}
</style>
