<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script>
    // function setRem() {
    //     const WIDTH = 375;
    //     let clientWidth = document.documentElement.clientWidth;
    //     if (clientWidth >= 1024) {
    //       clientWidth = 1024;
    //     }
    //     document.documentElement.style.fontSize = (16 * clientWidth) / WIDTH + "px";
    //   }
    //   window.onresize = () => {
    //     setRem();
    //   };
    //   setRem();
  </script>
</html>

