<template>
    <div class="sp">
      <div class="{this.tt==true?'qqq':'ttt'}"></div>
        
    </div>
</template>
<script>
// import axios from 'axios'
export default ({
  data(){
    return{
    }
     
  },
   props: ["tt"],
//    methods:{
     
// },
mounted(){
console.log(this.tt)
}
})
</script>
<style lang="scss" scoped>
.qqq{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: none;
}
.ttt{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: block;

}
</style>
