<template>
  <div class="home">
   <span class="qwe">火爆商品</span>
   <div class="asd">
     <div class="zxc"><div class="qqe"><div class="wer"><img src="https://img.js.design/assets/img/61405df9a781860684064223.png" alt=""></div></div><span class="sdf">Fruit T恤</span><span class="xcv">￥700</span></div>
     <div class="ert"><div class="dfg"><img src="https://img.js.design/assets/img/61405dfba781860684064249.png" alt=""></div><span class="cvb">Fruit T恤</span><span class="rty">￥700</span></div>
   </div>
   <ul class="fgh">
    <li>全部</li>
   <li>款式新</li>
   <li>销量高</li>
   <li>好评多</li>

   </ul>
   <div class="vbn">
     <Sp :item="item" v-for="(item,index) in lists.data" :key="index">
      <div class="cart">
        <img @click="setCart(item._id)" src="../assets/cart.png" alt="" />
      </div>
    </Sp>
   </div>
  </div>
</template>
<script>
import Sp from '../components/Sp.vue';
export default ({
components:{Sp},
  data() {
    return {
      lists: [],
    };
  },
  methods: {
    getGoodsLists() {
      fetch("https://dahua0822-api.herokuapp.com/goods")
        .then((res) => res.json())
        .then((data) => {
          this.lists = data.data;
          // console.log(this.lists)
    // console.log(this.lists.data.top)

        });
    },
    setCart(id) {
      fetch("https://dahua0822-api.herokuapp.com/cart", {
        method: "POST",
        headers: {
          "content-type": "application/json",
        },
        body: JSON.stringify({
          productId: id,
          quantity: 1,
        }),
      });
    },
    
  },
  created() {
    this.getGoodsLists();
    // console.log(lists.data.top)
  },
});
</script>
<style lang='scss'>
.home{
  left: 6px;
// top: -385px;
width: 369px;
height: 821px;
opacity: 1;
font-size: 14px;
// background: rgba(247, 247, 250, 1);
//  background: red;
}
.qwe{
  width: 100px;
  height: 30px;
  // background: yellow;
  float: left;
  margin-top: 20px;  
  font-weight: 700;
}
.asd{
  width: 100%;
  height: 222px;
  // background: palevioletred;
  float: left;
}
.zxc{
  width: 168px;
height: 222px;
float: left;
background: #fff;
// background: rgba(218, 216, 219, 1);
}
.qqe{
  width: 100%;
  height: 155.57px;
background: rgba(218, 216, 219, 1);
border-top-left-radius: 20px;
border-top-right-radius: 20px;

float: left;
}
.wer{
  left: 45.37px;
top: 145.11px;
width: 129.26px;
height: 155.57px;
opacity: 1;
// background: palegreen;
background: rgba(218, 216, 219, 1);

margin-left: 20px;
}
.wer>img{
  width: 100%;
  height: 100%;
}
.sdf{
//   left: 44px;
// top: 312px;
width: 54px;
height: 14px;
opacity: 1;
/** 文本1 */
font-size: 12px;
font-weight: 700;
letter-spacing: 0px;
line-height: 0px;
color: rgba(26, 26, 26, 1);
text-align: left;
vertical-align: top;
margin-top: 12px;
margin-left: 20px;
// background: green;
float: left;
// border-top-left-radius: 20px;
// border-top-right-radius: 20px;
// background: rgba(218, 216, 219, 1);
}
.dfg>img{
  width: 100%;
  height: 100%;
// background: rgba(218, 216, 219, 1);

}
.xcv{
  left: 44px;
top: 340px;
width: 39px;
height: 19px;
opacity: 1;
/** 文本1 */
font-size: 16px;
font-weight: 700;
letter-spacing: 0px;
line-height: 0px;
color: rgba(26, 26, 26, 1);
text-align: left;
vertical-align: top;
margin-top: 40px;
margin-left: -0.6rem;
// background: red;
float: left;
}
.ert{
    width: 168px;
height: 222px;
float: right;
background: #fff;
// border-top-left-radius: 20px;
// border-top-right-radius: 20px;
}
.dfg{
  width: 168px;
height: 146px;
// border-top-left-radius: 20px;
// border-top-right-radius: 20px;
border-radius: 5px;
// background: yellowgreen;
}
.cvb{
  width: 54px;
height: 14px;
opacity: 1;
/** 文本1 */
font-size: 12px;
font-weight: 700;
letter-spacing: 0px;
line-height: 0px;
color: rgba(26, 26, 26, 1);
text-align: left;
vertical-align: top;
margin-top: 12px;
margin-left: 20px;
// background: green;
float: left;
}
.rty{
    left: 44px;
top: 340px;
width: 39px;
height: 19px;
opacity: 1;
/** 文本1 */
font-size: 16px;
font-weight: 700;
letter-spacing: 0px;
line-height: 0px;
// color: rgba(26, 26, 26, 1);.\
text-align: left;
vertical-align: top;
margin-top: 40px;
margin-left: -0.6rem;
// background: red;
float: left;
}
.fgh{
  width: 100%;
  height: 44px;
  // background: black;
  float: left;
  margin-top: 20px;
}
li{
  list-style-type:none;
  float: left;
  // padding-right: 15px;
  width: 40px;
  // background: rgb(201, 23, 207);
  text-align: center;
  line-height: 44px;
  
}
li:nth-child(1){
//   left: 20px;
// top: 408px;
width: 44px;
height: 44px;
opacity: 1;
float: left;
margin-left: -40px;
background: rgba(255, 223, 117, 1);
}
li:nth-child(2){
  left: 90px;
top: 408px;
width: 99.23px;
height: 44px;
opacity: 1;
background: rgba(255, 255, 255, 1);
margin-left: 20px;
}
li:nth-child(3){
  left: 209.23px;
top: 408px;
width: 99.23px;
height: 44px;
opacity: 1;
background: rgba(255, 255, 255, 1);
margin-left: 20px;

}
li:nth-child(4){
  left: 332.47px;
top: 408px;
width: 99.23px;
height: 44px;
opacity: 1;
background: rgba(255, 255, 255, 1);
margin-left: 20px;
}
.vbn{
  width: 100%;
  height: 300px;
  // background: blueviolet;
  float: left;
}
.cart{
   position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: rgba(255, 230, 148, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>

