<template>
  <div class="cart">
    <div style="position: fixed; top: 0">
      {{ cartObj.subTotal }}-{{ total }}
    </div>
    <div class="cart-item" v-for="(item, index) in cartObj.items" :key="index">
      <span
        class="checkbox"
        :class="item.checked ? 'checked' : ''"
        @click="cartCheckOrNot(item.productId._id, getCart)"
      ></span>
      <Sp :item="item.productId">
        <div class="count">
          <span>-</span>
          <span>{{ item.quantity }}</span>
          <span>+</span>
        </div>
      </Sp>
    </div>
    <Cp v-if="cp" />
    <!-- <Uu /> -->
  </div>
</template>
<script>
import Sp from "@/components/Sp.vue";
import Uu from "@/components/Uu.vue";
import Cp from "@/components/Cp.vue";


import axios from "axios";
export default {
  data() {
    return {
      cartObj: {
        items: [],
      },
      cp: false,
    };
  },
  computed: {
    total() {
      let total = 0;
      this.cartObj.items.map((item) => {
        if (item.checked) {
          total += item.quantity;
        }
      });
      return total;
    },
  },
  components: {
    Sp,Uu,Cp
  },
  methods: {
    //获取购物车列表
    getCart() {
      this.loading = true;
      axios.get("https://dahua0822-api.herokuapp.com/cart").then((res) => {
        if (res.status === 200 && res.data.success) {
          this.cartObj = res.data.data;
          this.loading = false;
        } else {
          this.loading = false;
          alert("出错了");
        }
      });
    },
    //购物车选中与否
    cartCheckOrNot(id, callback) {
      this.cp = true;
      axios
        .post("https://dahua0822-api.herokuapp.com/cart/select", {
          productId: id,
        })
        .then((res) => {
          if (res.status === 200 && res.data.success) {
            callback();
          } else {
            this.loading = false;
            alert("出错了");
          }
        });
    },
  },
  created() {
    this.getCart();
  },
};
</script>
<style lang="scss" scoped>
.cart {
  padding-top: 28px;
  .cart-item {
    padding: 0 0 0 18px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .checkbox {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid rgba(143, 143, 143, 1);
      margin-right: 18px;
    }
    .checked {
      background-color: rgba(255, 223, 117, 1);
      border: none;
    }
    .goods-item {
      margin-bottom: 0;
      background-color: #fff;
      flex: 1;
      margin-right: 22px;
      :deep img {
        width: 84px;
        height: 84px;
      }
      :deep .price {
        font-size: 14px;
      }
      .count {
        position: absolute;
        right: 18px;
        bottom: 18px;
        display: flex;
      }
    }
  }
}
</style>
