<template>
  <div class="home">
      <Sp :item="item" v-for="item in lists" :key="item._id">
      <!-- <img @click="setCart(item._id)" src="@/assets/01.png" alt="" /> -->
      <div class="cart">
        <img @click="setCart(item._id)" src="@/assets/01.png" alt="" />
      </div>
    </Sp>
    <!-- <Sp :item="{name:123}" /> -->
  </div>
</template>
<script>
import Sp from '../components/Sp.vue';
export default ({
components:{Sp},
  data() {
    return {
      lists: [],
    };
  },
 methods: {
    getGoodsLists() {
      fetch("https://dahua0822-api.herokuapp.com/goods")
        .then((res) => res.json())
        .then((data) => {
          this.lists = data.data;
        });
    },
    setCart(id) {
      fetch("https://dahua0822-api.herokuapp.com/cart", {
        method: "POST",
        headers: {
          "content-type": "application/json",
        },
        body: JSON.stringify({
          productId: id,
          quantity: 1,
        }),
      });
    },
  },
    created() {
    this.getGoodsLists();
  },

});
</script>
<style lang='scss'>
*{
  margin: 0;
  padding: 0;
}
.home {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 25px;
  .cart {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    background-color: rgba(255, 230, 148, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 18px;
      height: 18px;
    }
  }
}
</style>

