<template>
    <div class="sp">
       
         <img class="left" :src="item.image" alt="" />
    <div class="middle">
      <p class="name">{{ item.name }}</p>
      <p></p>
      <p class="price">¥{{ item.price }}</p>
    </div>
    <div class="right">
      <slot></slot>
    </div>
    </div>
</template>
<script>
// import axios from 'axios'
export default {
  data(){
    return{
 

    }
     
  },
   props: ["item"],
}
</script>

<style lang="scss">
.sp {
  padding: 7px;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  align-items: stretch;
  position: relative;
  .left {
    width: 84px;
    height: 84px;
    margin-right: 15px;
  }
  .middle {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .right {
    position: absolute;
    right: 18px;
    bottom: 35px;
    width: 10px;
    height: 10px;
    // background: red;
    // margin-left: 2.9rem;
    // margin-top: 0.45rem;
  }
}
</style>
