<template>
  <div id="nav">
    <router-view></router-view>
  </div>
</template>
   <script>

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* *,
html,
body,
div,
img,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

</style>
