<template>
   <div class="Splb">哈哈</div>
</template>
<script>


export default ({
    // alert(7899)
})
    // alert(7899)

</script>
<style scoped>
.Splb{
    width:100px;
    height: 100px;
    background: peru;
}
</style>
